.gui {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 50%;
}
.btn {
    background-color: #f8fafc;
    background-color: var(--slate-1);
    border: 1px solid #020617;
    border: 1px solid var(--slate-11);
    border-radius: 4px;
    color: #020617;
    text-decoration: none;
    color: var(--slate-11);
    cursor: pointer;
    outline: none;
    padding: 10px 20px;
    &:active,&:focus,&:hover {
        outline: 2px solid #020617;
        outline: 2px solid var(--slate-11);
        outline-offset: 2px
    }
}
.icon-16 {
    width: 16px;
    height: 16px;
}
.icon-24 {
    width: 24px;
    height: 24px;
}